<div id="auth-page">
    <h1>Video Games DB</h1>
    <div id="login-credentials">
        <form>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required><br><br>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required><br><br>
            
            <div class="remember-me">
                <label for="rememberme">Remember me:</label>
                <input type="checkbox" id="rememberme" name="rememberme"><br><br>
            </div>
        </form>
    </div>
    <button class="button success" (click)="onRequest(email, password)">
      Log In
    </button>
  </div>